 @import url("https://fonts.googleapis.com/css2?family=Roboto&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}
